header{
    color:khaki;
    font-size: 100px;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    background-image: url('./images/pattern.webp');
}
#brushes h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
#brushes u{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#frames h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
#frames u{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#paint h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}
#paint u{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
